[GLOBAL]
pants_version = "2.30.0"

pythonpath = ["%(buildroot)s/vendor/robotpajamas.pants.sci"]

backend_packages = [
    "experimental.scie",
    "pants.backend.python",
    "pants.backend.python.typecheck.mypy",
    "pants.backend.plugin_development",
]

build_patterns = ["BUILD.pants", "BUILD"]

[source]
root_patterns = [
    "/",
    "vendor/robotpajamas.pants.sci",
]

[python]
enable_resolves = true
default_resolve = "python-default"
resolver_manylinux = "manylinux_2_28"
interpreter_constraints = ["==3.13.*"]

[python.resolves]
python-default = "build-support/lockfiles/python-default.lock"

[mypy]
args = [
    "--check-untyped-defs",
    "--follow-imports silent",
]
config = "build-support/requirements/tools/pyproject.toml"
install_from_resolve = "python-default"

[pytest]
install_from_resolve = "python-default"